body {
  background: #16052bde;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

button{
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 24px;
}