body {
  background: #16052bde;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.play {
  position: absolute;
  top: 30%;
  left: 50%;
}

.stop {
  position: absolute;
  top: 40%;
  left: 50%;
}

